@{
    ViewBag.Title = "Exercício";
}

<h1>@ViewBag.Title.</h1>
<br />
<p>Exercício de fixação</p>

<a href="https://www.juliobattisti.com.br/tutoriais/herbertgois/programandocsharp005.asp" target="_blank">C# | TIPOS DE DADOS</a>