@{
    ViewBag.Title = "Luan";
}

<h2>
MVC é a sigla para Model-View-Controller, um padrão de arquitetura de software que separa a aplicação
 em três componentes principais: o Model (Modelo), que representa os dados e a lógica de negócios da aplicação;
 a View (Visão), que exibe os dados para o usuário final; e o Controller (Controlador), que processa as ações do usuário
 e atua como intermediário entre o Model e a View. Essa separação permite uma melhor organização e manutenção do código
 da aplicação, além de facilitar a reutilização e extensão do sistema.
    </h2>